#listing {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .videos {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 992px) {
            grid-template-columns: repeat(3, 1fr);
        }

        @media (min-width: 1200px) {
            grid-template-columns: repeat(4, 1fr);
        }

        a {
            text-decoration: none;
            color: inherit;
        }
    }

    .video-item {
        background-color: #fff;
        border-radius: 8px;
        padding: 15px;
        display: block;
        transition: transform 0.3s ease;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 2px 4px #ee6654;

            .thumbnail {
                transform: scale(1.02);

                @media (min-width: 768px) {
                    transform: scale(1.05);
                }
            }
        }

        .title {
            margin-top: 0;
            font-family: 'Sixtyfour Convergence', sans-serif;
        }

        .thumbnail {
            width: 100%;
            border-radius: 8px;
            transition: transform 0.3s ease;
        }

        .dates {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            .time-ago {
                color: #666;
            }

            .created-at {
                color: #999;
                font-size: 12px;
            }
        }

        .likes {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            line-height: 1;

            .like-count {
                color: #666;
            }
        }
    }
}
