#header {
    background-color: transparent;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-left: 0;

    .logo-title {
        display: flex;
        align-items: center;
        gap: 30px;

        .title {
            display: none;
            margin: 0;
            font-family: 'Sixtyfour Convergence', sans-serif;
            font-weight: 400;
            font-style: normal;

            @media (min-width: 576px) {
                display: block;
            }
        }

        .logo-link {
            width: fit-content;
            line-height: 0;

            .logo {
                max-width: 210px;
                border-radius: 15px;
            }
        }
    }
}
