.sort {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    .sort-group {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 15px;

        button {
            cursor: pointer;

            &.active {
                background-color: #f0f0f0;
            }
        }
    }
}
